.recipe {
	padding: 3% 4%;
	background-color: $clr-bg-base-500;
	background-image: url("../../Assets/paper2.svg");
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 30px;
	&__content {
		background-color: transparent;
		.title {
			width: 75%;
			border-bottom: 1px solid;
			text-transform: capitalize;
		}
		.author {
			font-size: $font-para-l;
			font-weight: 400;
			text-transform: capitalize;
			color: $clr-accent;
			text-align: right;
			padding-right: 20%;
		}
		.subtitle {
			margin-bottom: 1.125rem;
		}
		.ingredients {
			margin-bottom: 1.125rem;
			ol {
				display: flex;
				grid-column: 5fr 4fr;
				grid-template-rows: repeat(auto-fill, minmax(10px, 1fr));
				flex-direction: column;
				flex-wrap: wrap;
				max-height: 35vh;
				counter-reset: section;
				
				li {
					text-transform: capitalize;
					position: relative;
					max-width: 25ch;
					margin-right: 10px;
					&::before {
						color: $clr-font-blue-400;
						counter-increment: section;
						content: counter(section) ".";
						position: absolute;
						left: -1.75rem;
					}
				}
				@media (max-width: 50em) {
					max-height: fit-content;
					li {
						max-width: 40ch;
						&::before {
							content: " ";
						}
					}
				}
			}
		}
		.steps {
			ul {
				li {
					margin: clamp(0.5rem, 2vw, 1.25rem) 0;
				}
			}
		}
	}
	&__image {
		display: flex;
		align-items: center;
		padding-top: 3rem;
		img {
			width: 100%;
		}
	}
	@media (max-width: 50em){
		display: flex;
		flex-direction: column-reverse;
	}
}
