.recipe {
	padding: 3% 4%;
	background-color: $clr-bg-base-200;
	background-image: url("../../Assets/paper2.webp");
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 30px;
	&__content {
		background-color: transparent;
		.title {
			width: 75%;
			border-bottom: 1px solid;
			text-transform: capitalize;
			color: $clr-font-blue-700;
		}
		.author {
			font-size: $font-para-l;
			font-weight: 400;
			text-transform: capitalize;
			color: $clr-accent;
			text-align: right;
			padding-right: 20%;
		}
		.subtitle {
			margin-bottom: 1.125rem;
		}
		.ingredients {
			margin-bottom: 1.125rem;
			ol {
				display: flex;
				grid-column: 5fr 4fr;
				grid-template-rows: repeat(auto-fill, minmax(10px, 1fr));
				flex-direction: column;
				flex-wrap: wrap;
				max-height: 45vh;
				counter-reset: section;

				li {
					text-transform: capitalize;
					position: relative;
					max-width: 25ch;
					margin-right: 10px;
					margin-left: 2rem;
					&::before {
						color: $clr-font-blue-200;
						counter-increment: section;
						content: counter(section) ".";
						position: absolute;
						left: -1.75rem;
					}
				}
				@media (max-width: 60em) {
					max-height: 55vh;
				}
				@media (max-width: 50em) {
					max-height: fit-content;
					li {
						max-width: 40ch;
						margin: 0;
						&::before {
							content: " ";
						}
					}
				}
			}
		}
		.steps {
			ul {
				li {
					margin: clamp(0.5rem, 2vw, 1.25rem) 0;
				}
			}
		}
	}
	&__image {
		display: flex;
		align-items: flex-start;
		padding-top: 3rem;
		img {
			width: 100%;
		}
	}
	@media (max-width: 60em) {
		display: flex;
		flex-direction: column-reverse;
	}
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 90vh;
	background: $clr-bg-base-200;
	overflow: hidden;

	.jumbotron {
		position: relative;
		left: -3%;

		top: -2%;
		.logo {
			font-family: "Oldenburg", cursive;
			font-weight: 900;
			color: $clr-accent-light;
		}
		h1 {
			font-size: clamp(2.75rem, 7vw, 3rem);
			text-align: center;
			color: $clr-font-blue-700;
		}
		h3 {
			color: $clr-accent;
			text-align: right;
			padding-right: 7%;
			font-family: "Mulish", sans-serif;
		}
		@media (max-width: 62em) {
			left: 0;

			top: 0;
		}
	}
}

.arrow_desktop {
	position: absolute;
	left: 10px;
	top: 25%;
	@media (max-width: 65em) {
		display: none;
	}
	#Desktop_Arrow {
		stroke-dasharray: 1323;

		animation: DesktopArrow 3s 0.25s cubic-bezier(0.22, -0.42, 0.58, 1.12);
	}
}

.arrow_moblie {
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(45%);
	#Moblie_Arrow {
		stroke-dasharray: 454;
		animation: MoblieArrow 1s 0.05s cubic-bezier(0.22, -0.42, 0.58, 1.12);
	}
	@media (min-width: 55em) {
		display: none;
	}
}

@keyframes DesktopArrow {
	0% {
		display: none;
		stroke-dashoffset: 1325;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes MoblieArrow {
	0% {
		display: none;
		stroke-dashoffset: 455;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
