.side__menu {
	width: 100%;
	min-width: 15rem;
	background: $clr-bg-base-700;
	padding: 1.25rem 10% 0;
	// position: fixed;
	z-index: 1;
	.search {
		height: fit-content;
		overflow: hidden;
		&__bar {
			width: 100%;
			height: 50px;
			position: relative;
			input {
				border: none;
				outline: none;
				height: 100%;
				width: 100%;
				padding-top: 15px;
				font-size: 20px;
				color: $clr-accent;
				background-color: transparent;
				&:focus + .label-name,
				&:valid + .label-name {
					.span-label {
						transform: translateY(-100%);
						font-size: 14px;
						color: $clr-accent;
						font: small-caps;
					}
					&::after {
						transform: translateX(0%);
					}
				}
			}
			label {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0px;
				bottom: 0px;
				pointer-events: none;
				border-bottom: 3px solid $clr-font-blue-700;
				&::after {
					content: "";
					position: absolute;
					height: 100%;
					width: 100%;
					border-bottom: 3px solid $clr-accent;
					left: 0px;
					bottom: -3px;
					transform: translateX(-100%);
					transition: all 0.3s ease;
				}
				.span-label {
					bottom: 0px;
					left: 0px;
					position: absolute;
					transition: 0.3s ease;
					svg {
						width: 17px;
						margin: 0 5px 0 0;
						padding-top: 10px;
					}
				}
			}
		}
		&__results {
			margin-top: 10px;
			// overflow-y: scroll;
			height: 80vh;
			&::-webkit-scrollbar {
				width: 5px;
			}
			li {
				p {
					font-size: $font-title-s;
				}
			}
		}
	}
}
