$transition: all 250ms ease;


$ham-before: top 100ms ease-in, opacity 0.1s ease-in;
$ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s;


$ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
$ham-after-active: bottom 0.1s ease-out,
	transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
