$clr-bg-base-500: #fceade;
$clr-bg-base-700: #ddbfa9;

$clr-bg-blue-700: #5d5d81;

$clr-bg-white: rgba(255, 255, 255, 0.4);

$clr-font-blue-700: #5d5d81;
$clr-font-blue-400: #7b8cde;

$clr-accent: #550c18;
$clr-accent-light: #5c202ad8;
