@import "./Styles";

* {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: $clr-font-blue-700;
}

h1,
h2,
h3 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	line-height: 1.1;
}

h1 {
	font-size: $font-logo;
}
h2 {
	font-size: $font-title-l;
}
h3 {
	font-size: $font-title;
}
p {
	font-size: $font-para;
	font-weight: 400;
	font-family: "Mulish", sans-serif;
}

.content {
	display: grid;
	grid-template-columns: 1fr 3fr;
}
